@import "~font-awesome/css/font-awesome.css";
@import "basscss";
@import "basscss-base-reset";
@import "basscss-base-typography";
@import "basscss-btn";
@import "basscss-btn-outline";
@import "basscss-btn-primary";
@import "basscss-color-base";
@import "basscss-color-borders";
@import "basscss-color-tables";
@import "basscss-colors";
@import "basscss-background-colors";
@import "basscss-forms";
@import "basscss-progress";
@import "basscss-defaults";

* {
  box-sizing: border-box;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

a {
   outline: 0;
}

.btn:focus {
  border: none;
  box-shadow: none;
}

.inline-input {
  font-family: inherit;
  font-size: inherit;
  height: 2.5rem;
  padding: .5rem;
  margin-right: .5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}


:root {

  --font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  --blue: #0099dd;
}
