.component {
  display: flex;
  justify-content: center;
}

.inner {
  max-width: 970px;
}

.form div {
  flex: 1;
  padding-bottom: 0.5em;
}

label {
  display: block;
}

input {
  margin-left: auto;
}
